.footer {
  padding: 104px 0 144px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
  background-color: #245852;
  color: #fff;
  overflow-y: scroll;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  &__logo {
    margin-bottom: 74px;

    &-img {
      display: inline-block;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__nav {

    &-item {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;

      &+& {
        margin-top: 60px;
      }
    }

    &-link {
      transition: opacity 0.2s ease;
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        bottom: -15px;
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 0;
        transition: all 0.2s ease-in;
      }

      &:hover::after,
      &:focus::after {
        opacity: 1;
        bottom: -5px;
      }
    }
  }

  &__socials {

    &-title {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      padding-bottom: 70px;
    }

    &-list {
      /* position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); */
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      list-style: none;
      margin: 20px 40px;
    }

    &-link ion-icon {
      padding-top: 10px;
      font-size: 30px;
      color: #000;
      line-height: 80px;
      transition: .5s;
    }

    &-link {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      background: #fff;
      text-align: center;
      transform: perspective(1000px)rotate(-30deg) skew(25deg)translate(0, 0);
      transition: .5s;
      box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
    }

    &-link:before {
      content: '';
      position: absolute;
      top: 6px;
      left: -10px;
      height: 100%;
      width: 10px;
      background: #b1b1b1;
      transition: .5s;
      transform: rotate(0deg) skewY(-45deg);
    }

    &-link:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -5px;
      height: 10px;
      width: 100%;
      background: #b1b1b1;
      transition: .5s;
      transform: rotate(0deg) skewX(-45deg);
    }

    &-link:hover {
      transform: perspective(1000px)rotate(-30deg) skew(25deg)translate(20px, -20px);
      box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
    }

    &-item:hover ion-icon {
      color: #fff;
    }

    /* 1 start of color */

    &-item:hover:nth-child(1) a {
      background: #3b5999;
    }

    &-item:hover:nth-child(1) a:before {
      background: #2e4a86;
    }

    &-item:hover:nth-child(1) a:after {
      background: #4a69ad;
    }

    /* 1 end of color */
    /* 2 sart of color */

    &-item:hover:nth-child(2) a {
      background: #55acee;
    }

    &-item:hover:nth-child(2) a:before {
      background: #4184b7;
    }

    &-item:hover:nth-child(2) a:after {
      background: #4d9fde;
    }

    /* 2 end of color  */
    /* 3 start of color */

    &-item:hover:nth-child(3) a {
      background: #dd4b39;
    }

    &-item:hover:nth-child(3) a:before {
      background: #c13929;
    }

    &-item:hover:nth-child(3) a:after {
      background: #e8432e;
    }

    /* 3 end of color */
    /* 4 start of color */

    &-item:hover:nth-child(4) a {
      background: #0077b5;
    }

    &-item:hover:nth-child(4) a:before {
      background: #036aa0;
    }

    &-item:hover:nth-child(4) a:after {
      background: #0d82df;
    }

    /* 4 end of color */
    /* 5 start of color */

    &-item:hover:nth-child(5) a {
      background: #e4405f;
    }

    &-item:hover:nth-child(5) a:before {
      background: #d02d4c;
    }

    &-item:hover:nth-child(5) a:after {
      background: #f1395c;
    }

    /* 5 end of color */
  }
}


@media (max-width: 1399px) {
  .footer {
    padding: 80px 0 100px;

    &__logo {
      margin-bottom: 50px;
    }

    &__nav {

      &-item {
        font-size: 22px;

        &+& {
          margin-top: 40px;
        }
      }
    }

    &__socials-title {
      font-size: 22px;
    }
  }
}

@media (max-width: 650px) {
  .footer__socials-title {
    padding-bottom: 35px;
  }

  .footer__socials-item {
    margin: 20px 30px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 0 60px;
  max-height: 100%;

    &__container {
      flex-direction: column;
      gap: 50px;
    }

    &__logo {
      margin-bottom: 40px;
    }

    &__nav {

      &-item {
        font-size: 18px;

        &+& {
          margin-top: 30px;
        }
      }
    }

    &__socials-title {
      font-size: 18px;
      padding-bottom: 5px;
    }
  }
}
