.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d6d6d6;
  line-height: 1;

  &__logo {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: 172px;
    font-weight: 500;
    color: #292929;

    &-list {
      display: flex;
    }

    &-item+&-item {
      margin-left: 70px;
    }

    &-link {
      transition: color 0.2s ease;

      &:hover {
        color: #01996d;
      }
    }
  }

  &__login {
    display: flex;
    align-items: center;
    margin-left: auto;

    &>*+* {
      margin-left: 35px;
    }

    &-link {
      margin-top: -1px;
      color: #000;
      transition: all .3s ease;
      position: relative;

      &:hover {
        color: #01996d;
      }

      &::after {
        position: absolute;
        content: " ";
        left: 0;
        bottom: -5px;
        width: 25%;
        background-color: #01996d;
        height: 2px;
        transition: all 0.3s ease;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  &__burger {
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    z-index: 9999;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: none;

    @media (max-width: 991px) {
      display: flex;
    }

    &-icon {
      display: block;
      position: relative;
      width: 40px;
      height: 5px;
      background-color: #000;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 40px;
        height: 5px;
        background-color: #000;
        transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
      }

      &::before {
        left: 0;
        top: -10px;
      }

      &::after {
        left: 0;
        top: 10px;
      }

      &.active {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
          transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
        }

        &::after {
          transform: rotate(-45deg);
          top: 0;
          transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
        }
      }
    }
  }

  &__btn {
    border: 2px solid #01996d;
    white-space: nowrap;
    transition: all 0.3s ease;

    &:hover {
      background: #fff;
      color: #01996d;
    }
  }
}




















@media (max-width: 1199px) {
  .header {
    &__wrap {
      justify-content: space-between;
    }

    &__nav {
      margin-left: 30px;

      &-item+&-item {
        margin-left: 50px;
      }
    }

    &__login {
      margin-left: 30px;
    }
  }
}

@media (max-width: 991px) {
  .header {

    &__nav,
    &__login {
      display: none;
    }
  }
}
