.mobile-nav {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
  text-align: center;

  &.active {
    display: flex;
  }

  &__nav {
    font-size: 28px;
  }

  &__logo {
    width: 150px;
  }

  &__item+&__item {
    margin-top: 20px;
  }

  &__login {
    display: flex;
    align-items: center;
    font-size: 22px;
  }

  &__login>*+* {
    margin-left: 30px;
  }
}
