<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">

      <div class="footer__logo">
        <a href="/" class="footer__logo-link">
          <img class="footer__logo-img" src="./img/footer-logo.svg" alt="Logo" />
        </a>
      </div>

      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Why Alivio</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Solutions</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Community</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
