<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">

      <div class="footer__logo">
        <a href="/" class="footer__logo-link">
          <img class="footer__logo-img" src="./img/footer-logo.svg" alt="Logo" />
        </a>
      </div>

      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Why Alivio</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Solutions</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Community</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="footer__socials">
      <h1 class="footer__socials-title">Contact us in social messengers</h1>
      <ul class="footer__socials-list">
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="#">
            <ion-icon name="logo-google"></ion-icon>
          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
