<header class="header">
  <div class="header__container container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img src="./img/logo.svg" alt="Logo" />
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Why Alivio</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Solutions</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Community</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </nav>

      <div class="header__login">
        <a class="header__login-link" href="#">Sign in</a>
        <a href="#" class="header__btn btn">Start Trial</a>
      </div>

      <button type="button" class="header__burger">
        <span class="header__burger-icon"></span>
      </button>
    </div>
  </div>
</header>
